nodered.txt
[{"id":"bbee08eb.bef0f8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"7833dac1.bf9d74","type":"http request","z":"bbee08eb.bef0f8","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":390,"y":78,"wires":[["4cc4a4c3.26e75c","6673e2ff.8d749c"]]},{"id":"55cebeeb.aae35","type":"inject","z":"bbee08eb.bef0f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":199,"y":77,"wires":[["7833dac1.bf9d74"]]},{"id":"4cc4a4c3.26e75c","type":"debug","z":"bbee08eb.bef0f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":695,"y":59,"wires":[]},{"id":"6673e2ff.8d749c","type":"function","z":"bbee08eb.bef0f8","name":"prediction input","func":"var token=msg.payload.token;\nvar asl=global.get(\"asl\"); 
//to get values from user\nvar toa=global.get(\"toa\");\nvar tow=global.get(\"tow\");
\nvar lom=global.get(\"lom\");
\n//var state1=global.get(\"state1\");
\nmsg.payload={\"fields\":[\"Avg. Session Length\",\"Time on App\",\"Time on Website\",\"Length of Membership\"],\"values\":[[asl,toa,tow,lom]]}
\nmsg.headers={\"Authorization\":\"Bearer \"+token}
\n// this is for authentication\nreturn msg;\n/*vkjghjkghj*/","outputs":1,"noerr":0,"x":354,"y":300,"wires":[["4db8d2ce.d14a8c"]]},{"id":"4db8d2ce.d14a8c","type":"http request","z":"bbee08eb.bef0f8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/77952f48-f9b0-4cc0-9fda-fa0c94718997/deployments/372416de-c9c8-4ea0-8fb5-f04842a34dc1/online","tls":"","proxy":"","authType":"basic","x":508,"y":233,"wires":[["dead3bea.ed8f18"]]},{"id":"dead3bea.ed8f18","type":"function","z":"bbee08eb.bef0f8","name":"jsonparsing","func":"//extracting the wanted data from the json data is called json parsing\nmsg.payload = msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":713,"y":248,"wires":[["4cc4a4c3.26e75c","3de3f22f.4a399e"]]},{"id":"321e70ee.93102","type":"ui_form","z":"bbee08eb.bef0f8","name":"","label":"","group":"3f9209af.474d26","order":2,"width":0,"height":0,"options":[{"label":"Avg. Session Length","value":"asl","type":"number","required":true},{"label":"Time on App","value":"toa","type":"number","required":true},{"label":"Time on Website","value":"tow","type":"number","required":true},{"label":"Length of Membership","value":"lom","type":"number","required":true}],"formValue":{"asl":"","toa":"","tow":"","lom":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":139,"y":285,"wires":[["f7587f03.d91d4"]]},{"id":"f7587f03.d91d4","type":"function","z":"bbee08eb.bef0f8","name":"inputt","func":"
//Setting the global variables
\nglobal.set(\"asl\",msg.payload.asl);\nglobal.set(\"toa\",msg.payload.toa);\nglobal.set(\"tow\",msg.payload.tow);
\nglobal.set(\"lom\",msg.payload.lom);\nreturn msg;","outputs":1,"noerr":0,"x":186,"y":185,"wires":[["7833dac1.bf9d74"]]},{"id":"3de3f22f.4a399e","type":"ui_text","z":"bbee08eb.bef0f8","group":"3f9209af.474d26","order":2,"width":0,"height":0,"name":"","label":"yearly amount spend","format":"{{msg.payload}}","layout":"row-spread","x":496,"y":424,"wires":[]},{"id":"3f9209af.474d26","type":"ui_group","z":"","name":"ML model","tab":"3fe28346.705a0c","disp":true,"width":"6","collapse":false},{"id":"3fe28346.705a0c","type":"ui_tab","z":"","name":"startupProfitPrediction","icon":"dashboard","disabled":false,"hidden":false}]